*{
box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    padding: 4px;
}

.header img{
    width: 40px;
    list-style: none;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 4px;
}

.nike{
    display: block;
    margin: 0 auto;
    width: 500px;
}

.zizou{
    display: block;
    margin: 0 auto;
    width: 2000px;
}

.callme{
    display: block;
    margin: 0 auto;
    width: 2000px;
}

.Quizz{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 37, 218);
    padding: 4px;
    color: rgb(255, 255, 255);
}

.Quizz2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;  
}
